@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@400;500;700&display=swap');

html {
    --primary-color: #212121;
    --letter-colors: white;
}

body {
    background-color: var(--primary-color);
    color: var(--letter-colors);
    font-family: "Rubik";
    font-weight: 400;
    padding: 2rem;
}

iframe {
    max-width: 100%;
    width: 50rem;
    display: none;
}

iframe.show {
    display: block;
}

a {
    color: white;
    text-decoration: none;
}

p {
    color: rgb(207, 207, 207);
}

.main-title {
    font-family: "Bebas Neue";
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 0;
}

.main-subtitle {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 32px;
}

.wallpaper {
    width: 100%;
    height: 300px;
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    border-radius: 10px;
    margin-bottom: 32px;
    border-bottom: 3px solid rgb(61, 194, 68);
}

.list_resource {
    list-style: none;
    padding: 0;
}

.resource {
    margin-bottom: 3.125rem;
}

.figma-link {
    display: inline-block;
    font-size: 14px;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: rgb(41, 94, 173);
}

.figma-link::before {
    content: url(../images/figma_logo.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.7rem;
}

.video-collapse-title {
    width: 6.25rem;
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 0.9rem;
    border-radius: 4px;
    outline: none;
    background-color: rgb(31, 221, 72);
    transition: box-shadow .3s;
    color: rgb(11, 61, 10);
}

.video-collapse-title:hover {    
    cursor: pointer;
    box-shadow: 0px 0px 8px 3px rgba(31, 221, 72, 0.137);
}

.back-button {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color:rgb(61, 194, 68);
    border: 2px solid transparent;
    border-radius: .2rem;
}

.back-button:hover {
    background-color: transparent;
    border: 2px solid rgb(61, 194, 68);
}

.back-button:hover img {
    animation: back-animation .3s ease-in infinite alternate;
}

footer {
    font-size: 12px;
    color: grey;
    text-align: center;
    margin-top: 3rem;
}

@keyframes back-animation {
    from {
        transform: translateX(2px);
    }

    to {
        transform: translateX(-2px);
    }
}

@media screen and (max-width: 460px) {
    body {
        padding: 2rem;
    }

    p {
        text-align: justify;
    }

    .wallpaper {
        display: none
    }

    .resource {
        text-align: center;
    }

    .main-title, .main-subtitle {
        text-align: center;
    }

    .video-collapse-title {
        box-sizing: border-box;
        width: 100%;
    }

    .figma-link {
        width: 100%;
        text-align: center;
    }

    .back-button {
        width: 100%;
        text-align: center;
    }
}