@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
    --primary-color: #212121;
    --secondary-color: white;

    --section_background-color: #171717;
    --section_border-color: black;

    --discord-background-color: #7289dacb;
    --discord-border-color: #7289da;

    transition: .2s;

    -webkit-tap-highlight-color: transparent;
}

.light-mode {
    --primary-color: white;
    --secondary-color: #303030;
    --section_background-color: rgb(246, 252, 255);
    --section_border-color: rgb(210, 241, 255);

    --discord-background-color: #303030d2;
    --discord-border-color: #303030;
}

.light-mode-icon {
    position: absolute;
    top: 6em;
    left: calc(50% + 2em);
    padding: 1em;
    color: var(--secondary-color);
    cursor: pointer;
}

.social-button {
    padding: .8em;
    border-radius: .2em;
}

.social-button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: color .2s ease-in-out;
}

a:hover {
    color: rgb(177, 177, 177);
}

.discord {
    position: relative;
    box-sizing: border-box;
    color: white;
    background-color: var(--discord-background-color);
    border: 2px solid var(--discord-border-color);
    transition: background-color 150ms ease-in;
}

.discord:hover {
    transition: background-color 150ms ease-in;
    background-color: var(--discord-border-color);
}

.section-title {
    color: var(--secondary-color);
    font-size: 1.125em;
    font-weight: bold;
    margin: 0;
}

.section-desc {
    color: var(--secondary-color);
    font-size: 0.75em;
    font-weight: normal;
}

.header {
    text-align: center;
    margin: 2em auto;
    color: var(--secondary-color);
}

.header-profile {
    width: 6em;
    height: 6em;
    object-fit: cover;
    border-radius: 50%;
    border: .3em solid var(--secondary-color);
}

.header-name {
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: 0;
}

.header-work {
    font-size: 1em;
    font-weight: normal;
}

.section-box {
    width: 31.25em;
    background-color: var(--section_background-color);
    border: 1px solid var(--section_border-color);
    border-radius: .5em;
    margin: 1em auto;
    padding: 2em;
}

.section-box ul {
    list-style: none;
    color: var(--secondary-color);
    padding: 0;
    margin: 1.5em 0 0;
}

.social li, .langs li {
    display: inline-block;
    font-size: 1em;
    margin-right: 2em;
}

.langs li img {
    display: block;
    margin: .2em auto;
    transition: transform .1s ease-in;
}

.langs img:hover, a:hover li img{
    transform: scale(1.1);
}

.projects {
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
}

.projects-header-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.projects-description {
    font-size: 1rem;
}

#discordSparkles {
    position: absolute;
    left: -1.6rem;
    top: -1.3rem;
    width: 10rem;
    height: 5rem;
}

footer {
    text-align: center;
    font-size: 0.75em;
    color: grey;
}

footer span#visits{
    font-size: 0.8em;
    margin-top: 1em;
    color: white;
}

@media screen and (min-width: 48em) {
    .header {
        margin: none;
    }
    
    .container {
        width: 100%;
        
        position: absolute;
        top: 50%;
        
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 48em) {
    .section-box {
        text-align: center;
        background: none;
        border: none;
        padding: 0;
        margin: 3em auto 5em;
    }

    .section-box .social {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .section-box .social li {
        display: block;
        margin: 1.2em auto;
    }

    .github {
        background-color: var(--section_background-color);
        border: 1px solid var(--section_border-color);
    }

    .github:hover {
        background-color: var(--section_background-color);
        border: 1px solid var(--section_border-color);
    }

    .langs {
        display: block;
        width: 100%;
    }

    .langs .col-1_2 {
        display: inline-block;
        width: calc(100% / 4);
        margin: 1em 0;
        padding: 0;
    }
}

@media screen and (max-width: 30em) {
    .section-box {
        width: 20em;
        margin-bottom: 1em;
    }

    .langs .col-1_2 {
        float: none;
        width: 100%;
    }

    .langs li img {
        display: inline;
        vertical-align: middle;
    }

    .projects-description {
        display: none;
    }
}